<% if @price_by_weight.errors.any? %>
  <div class="alert alert-warning container" role="alert">
    <b><%= t(:check_the_errors, count: @price_by_weight.errors.count) %>:</b>
    <% @price_by_weight.errors.full_messages.each do |msg| %>
      <div> - <%= msg %> </div>
    <% end %>
  </div>
<% end %>
