.container_list{
    top: 30px;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.contents{
    border: 1px solid #c7c4c4;
}

.contents:hover{
    background-color: #ccc9c9;
}

@media screen and (max-width: 1100px){
    .container_list{
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 550px){
    .container_list{
        grid-template-columns: auto;
    }
}